rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /friends/{docId} {
      allow read, write: if request.auth != null;
    }
    match /friendRequests/{docId} {
      allow read, write: if request.auth != null;
    }
    match /gifts/{giftId} {
      allow read, write: if request.auth != null;
    }
    match /trades/{tradeId} {
      allow read, write: if request.auth != null;
    }
    match /battles/{battleId} {
      allow read, write: if request.auth != null;
    }
    match /logs/{logId} {
      allow read, create, write: if request.auth != null;
    }
  }
}
